body {
    font-family: Lato;
}

.project_container {
    max-width: 1071px;
    color: #333332;
}

.project_card {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.project_card-info {
    padding: 94px 42px;
    border: 1px solid var(--border-project_card, #CECDCD);
    flex-grow: 1;
}

.project_name {
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
}

.project_card-type {
    display: flex;
    align-items: center;
    gap: 12px;
}

.project_card-text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.project_card-text>span {
    font-weight: 700;
}

.project_card-info-row {
    margin-bottom: 12px;
    margin-top: 0;
}

.project_card-block-row {
    margin-top: 0;
    margin-bottom: 24px;
}

.project_card-info-bottom {
    padding: 23px;
    display: flex;
    gap: 12px;
    background-color: #F7F7F7;
}

.project_shop-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 12px 28px 12px 28px;
    border-radius: 6px;
    border: none;
    background: #32C97C;
    color: white;
    transition: .2s;
}

.project_shop-btn:hover {
    background: #25b96e;
}

.card_image-slider {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.project_image-slider {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card_image-slider>img {
    width: 100px;
    height: 100px;
}

.card_image-slider-items {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}

.project_selected-image-project_container {
    margin-bottom: 24px;
    max-height: 561px;
    width: 100%;
}

.project_selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_image-slider::-webkit-scrollbar {
    height: 8px;
}

.card_image-slider::-webkit-scrollbar-track {
    background: #F7F7F7;
    border-radius: 600px;
}

.card_image-slider::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #32C97C;
    border-radius: 600px;
}

.card_image-slider::-webkit-scrollbar-thumb:hover {
    background: #25b96e;
}

.project_subheader {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.project_image-slider,
.project_card-info-project_container {
    width: calc(50% - 12px);
    max-width: 600px;
}

.reviews_header {
    padding: 24px 12px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.reviews_header>embed {
    cursor: pointer;
}

.project_reviews.open>.js_project-dropdown-button>img {
    transform: rotate(180deg);
}

.divider {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    background: #BBBBBB;
}

.js_project-dropdown {
    transition: height 500ms ease;
    overflow: hidden;
    height: 0;
}

.project_reviews.open>.js_project-dropdown {
    height: auto;
}

.return-project_container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.return-link {
    color: #333332;
    text-decoration: none;
}

.project_center {
    margin: auto 0;
}

.js_project-image-select {
    cursor: pointer;
}

.js_project-image-select.selected {
    border: 2px solid #32C97C;
    box-sizing: border-box;
    cursor: auto;
}

.project_related-project_container {
    overflow: hidden;
    margin-left: -12px;
    margin-right: -12px;
}


@media only screen and (max-width: 1003px) {

    .project_image-slider,
    .project_card-info-project_container {
        width: 100%;
    }

    .project_related-project_container .slick-list {
        width: calc(100% - 80px);
    }

    .project_container {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .project_card-info {
        padding: 32px 24px;
    }
}

.project_slider-project_container {
    position: relative;
}

.project_related-project_container>.slick-track {
    gap: 24px;
}

.project_related-project_container img {
    object-fit: contain;
    height: 100%;
}

.project_related-project_container .slick-slide {
    margin: 0 12px
}


.project_related-project_container .slick-list {
    margin-left: auto;
    margin-right: auto;
}

.slick-slide img {
    margin: 0 auto
}

.project_related-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
}